.myFirstDiv{  
    /* justify-content: center;
    align-items: center;    
    display: flex;
    height: 100%;    
    text-align: center; */
    width: 100%;        
  }
  .bodyStyle{
      margin-top: 80px;
  }
  .radioButton{    
    font-style: normal;
    flex-direction: row;    
    display: flex;    
    /* margin-top: 15px;   */
    float: left;
    width: 50%;
}
.radButton{
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
  .header{
    display: flex;
    width: 85%;    
    margin: 0 auto;
    display: flex;
  justify-content: center;
}
.subHeader{
    width: 150px;    
   height: 50px;          
   margin: 5px;    
   padding: 5px;
   display: flex;      
   word-break: break-all;
   background-color: rgba(246, 246, 247, 1);   
   border-radius: 5px;
}
.tableHeader{    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px; 
    text-align: center;
    font-weight: 600;  
    border-width: 0.5px;     

    flex:1;
    
   
}

.tablerow{
    width: 85%;    
    display: flex;
    justify-content: center; 
    margin: 0 auto;
}

.tableHeader2{
    /* margin-top: 10px;
    padding-top: 10px;
    padding-left: 10px; */
    align-self: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 18px;     
    border-width: 0.5px;       

    text-align: end;
    width: 100%;
    padding-right: 5px;    
   
}
.tableHeaderAlpha{
    align-self: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px; 
    
    border-width: 0.5px;   

    text-align: left;
    width: 100%;
    padding-left: 5px;    
 
}

  
  .myTableStyle{
    background-color: #ffffff;
    width: 100%;
    height: 100%;        
    text-align: center;
    flex:1;
    justify-content: center ;
  }

  .td{
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center; 
    align-items: center;
    
    
    
  }
  .tr, .th {
    padding: 15px;
    text-align: center;
    flex-direction: row;
    
  }