.myBar{
    
    background-color: white;
    height: 420px;
    width: 90%;    
    margin: auto;        
    border-radius: 10px;
    border-width: 1px;
    border-collapse: collapse;  
    border-color: #00A6FF;
    border-style: solid;
    justify-content: center;
    text-align: left;
    padding-left: 5px;
    padding-top: 5px;
}

.textStyle{    
    text-align: left;    
    font-size: 18px;
    color: #000;
}