
.bodyPart{
    flex-direction: row;
    width: 100%;
    display:flex;  
    /* padding-bottom: 15px; */
    /* position: fixed; */
    /* align-items: center;
    justify-content: center; */
   background-color: white;
    /* position: relative; */
    
    
  }

  .stickyProps{
    position: sticky;
  flex: 1;  
  width: 'stickiness'
  }
  .topbarStyle{
      /* position: fixed; */
    height:fit-content;
    flex-direction: row;
    display: flex;
    /* margin-top: 10px;    */
    left: 0px;
    margin-left: 90px;
    width:90%;
    align-items: center;
    padding: 20px;
    justify-content: space-evenly;
  }

  .myImage{
    width: 30px;
    height: 30px;
  }

.textStyleDiv{
    border-color: #00A6FF;  
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
    padding: 10px;
    /* margin-left: 30px;
    margin-right: 30px; */
    width: 130px;
    height: 30px;      
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    
    cursor: pointer;
  }

  .textStyleDiv:hover{
    border-color: #00A6FF;  
    background-color: #00A6FF;    
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
    padding: 10px;
    /* margin-left: 30px;
    margin-right: 30px; */
    width: 130px;
    height: 30px;      
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;    
    cursor: pointer;
  }
    
  .textStyle{
    font-size: 18px;    
    text-align: center;
    color: #0c0c0c;
    user-select: none;
  }



  .bodyTwo{
    flex-direction: row;
    flex:1;
    
    /* width: 100%;
    display:flex;       */
  }
  .stickyProps{
    position: sticky;
  flex: 1;  
  width: 'stickiness'
  }
  .menuBG{
      background-color: #00A6FF;       
      align-items: center;
      justify-content: center;
      border-radius: 0px 10px 10px 0px;
    width: 90px;
    height: 70px;
    margin-top: 10px;
    position: fixed;
    /* margin-left: -55px; */
    margin-right: 40px;
    user-select: none;
    overflow: hidden;
    cursor: pointer;
  
  }
  .menuBG:hover{
    background-color: #00A6FF;   
    overflow: visible;
  
    align-items: center;
    justify-content: center;
    border-radius: 0px 10px 10px 0px;  
    text-align: center;
    height: 100%;
    position: fixed;
    user-select: none;
    cursor: pointer;
    border-radius: 0px 10px 10px 0px;
    width: 230px;
    margin-right: 40px;
  }
  .sideTextDiv{
    padding: 10px;
    padding-left: 15px;
    text-align: left;  
    background-color: #00A6FF;
  }
  .sideTextDiv:hover{
    padding: 10px;    
    text-align: center;  
    background-color: #00A6FF;    
  }
  .sideText{
    font-size: 18px;
    color: black;
  }
  .logo{
      padding: 10px;
      width: 50px;
    height: 30px;    
      margin: 5px;      
      align-content: center;
      user-select: none;
  }
.logoContainer{
  padding-top: 5px;  
}

