.bodyStyle{
    margin-top: 60px;    
    margin-bottom: 60px;
    width: 90%;    
    align-items: center;
    justify-content:center ;    
    margin-left: auto;
    background-color: white;
    margin-right: auto;
    border-radius: 10px;
    border-width: 1px;
    padding: 15px;
    
    border-color: #00A6FF;
    border-style: solid;
}


.textStyle{    
    text-align: left;    
    font-size: 18px;
    color: #000;
}

.abc {

    padding: 0 !important;
    margin: 0 !important;
    border:none !important;
    box-shadow: unset !important;
    background-color: rgba(0,0,0,0) !important;
    height:auto !important;
    overflow:hidden !important;
}