
.textStyle{    
    text-align: left;    
    font-size: 18px;
    color: #000;
}

.bodyStyle{
    
    margin-top: 60px;    
    margin-bottom: 20px;
    width: 90%;    
    align-items: center;
    justify-content:center ;    
    margin-left: auto;
    background-color: white;
    margin-right: auto;
    border-radius: 10px;
    border-width: 1px;
    padding: 15px;
    border-collapse: collapse;  
    border-color: #00A6FF;
    border-style: solid;
  
}