.myBar{
    overflow-y: scroll;
    scroll-behavior: smooth;
    background-color: white;
    height: 400px;
    width: 90%;
    margin: 20px;
margin: auto;    
border-radius: 10px;
    border-width: 1px;
    border-collapse: collapse;  
    border-color: #00A6FF;
    border-style: solid;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding-left: 5px;
    padding-top: 5px;
    margin-top: 40px;
}

.textStyle{    
    text-align: left;    
    font-size: 18px;
    color: #000;
}