.bodyStyle{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    height:100%;
    flex-direction: row;
    display: flex;
}
.myFontStyle{
color: black;
font-size: 25px;
    font-weight: bolder;        
}

.columnStyle{
    flex-direction: column;    
    display: flex;    
    width: 50%;
}
.columnStyleTwo{
    flex-direction: column;    
    display: flex;   
    margin-top: 28px;         
}

.rowStyle{
    flex-direction: row;    
    display: flex; 

    padding-top: 40px;
}

.rowStyleTwo{
    flex-direction: row;    
    display: flex;
    margin-top: 28px;   
    padding-top: 20px;
    padding-bottom: 20px;
}

.alignLeft{
    text-align: left;    
    width: 170px;
    font-size: 15px;
    color: #00000080;
}

.alignRight{    
    text-align: right;   
    font-size: 15px;
    color: #00000080;
}

.alignLeftBold{
    text-align: left;    
    width: 170px;
    font-size: 20px;
    font-weight: bold;
    color: #000000;    
    padding-top: 3px;
}

.alignRightBold{    
    text-align: right;   
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    padding-top: 3px;
}

.myDivStyle{
    padding: 20px;
    width: 30%;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    border-radius: 10px;
    border-width: 1px;
    padding: 15px;
    
    border-color: #00A6FF;
    border-style: solid;
}
.circleStyle{
    width: 180px;
    height: 180px;
    margin: auto;    
    margin-top: 20px;    
}