.body{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: center;
    text-align: left;
    background-color: white;
}
.home{
    width: 45px;
    height: 45px;
    margin: 10px;    
    position: absolute;   
    left: 10px;
}
.logo{
    width: 120px;
    height: 50px;
    margin-top: 10px;    
    position: absolute;  
    background-color: white;  
    right: 50px;
}
.headerText{
    background-color: white;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}








